body {
  background-color: black;
  width: 100%;
  margin-top: 150px;
}
.container_chrono {
  width: 50%;
  height: 500px;
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
}
.content_chrono {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}
#chrono {
  font-size: 100px;
  font-weight: bold;
}
.btn_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
button{
    width: 20%;
    padding: 15px 25px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 22px !important;
    font-weight: bold;
    text-align: center;
}
button:nth-child(1){
background-color: aqua;
}
button:nth-child(2){
    background-color: red;
}


@media screen  and (max-width:750px) {
    
    body{
         margin-left: auto; 
         margin-right: auto; 
        margin-top: 180px;
        height: 100vh;
    }
    .container_chrono{
        width: 95%;
        margin: auto;
    }
    #secondes {
        font-size: 60px;
        font-weight: bold;
    }
    #minutes {
        font-size: 60px;
        font-weight: bold;
      }
    #chrono {
        font-size: 60px;
        font-weight: bold;
    }
    button{
        width: 30%;
        margin: auto;
        
    }
}
